# Created by .ignore support plugin (hsz.mobi)
### Example user_m template template
### Example user_m template

# IntelliJ project files
.idea
*.iml
out
gen

springbootlearning/target/
springbootlearning/src/main/resources/mybatisConfig/generatorConfig.xml
