# Created by .ignore support plugin (hsz.mobi)
### Example t_user template template
### Example t_user template

# IntelliJ project files
.idea
*.iml
out
gen

springbootlearning/target/
springleaning.iml
springbootlearning/springbootlearning.iml